<h2>Products</h2>


<form [formGroup]="checkoutForm"  (ngSubmit)="onSubmit()">

  <div>
    <label for="color">
      Query
    </label>
    <input id="query" type="text" formControlName="query" />

    <button class="button" type="submit">Search</button>
  </div>
  
</form>
  <button type="button" class="clear"
  (click)="clearItems()">Clear</button>
  <table>
    <div>
      <h1>{{items.length}} Items</h1>
    </div>
<tr *ngFor='let item of items' class="styled-table">
  <td>{{item.id}} </td>
  <td> {{item.color}}</td>
  <td><button (click)="fetchItemAttachment(item)">Open Attachment</button></td>
</tr>

<div *ngIf="currentItem">
  <img src="{{currentItem.attachmentURL}}" />
</div>

</table>