<h2>Products</h2>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
<form [formGroup]="checkoutForm"  (ngSubmit)="onSubmit()">

  <div>
    <label for="color">
      Query
    </label>
    <input id="query" type="text" formControlName="query" />

    <button class="button" type="submit">Search</button>
  </div>
  
</form>
  <button type="button" class="clear"
  (click)="clearItems()">Clear</button>
  <table>
    <div>
      <h1>{{items.length}} Items</h1>
    </div>
<tr *ngFor='let item of items' class="styled-table">
  <td>{{item.id}} </td><td> {{item.color}}</td><td><button  (click)="fetchItem(item)">Open Attachment</button></td>
  </tr>

  <div *ngIf="currentItem">
    <img src="{{currentItem.attachmentURL}}" />
  </div>

  </table>